@font-face {
  font-family: "Accidental Presidency";
  src: url("/fonts/AccidentalPresidency.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dialogue-text {
  font-family: "Accidental Presidency", sans-serif;
  font-size: 28px;
  letter-spacing: 1.96px;
}
